.popup__container_type_size-s {
  box-sizing: border-box;
  width: 430px;
  height: 181px;

  padding: 34px 36px 37px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .popup__container_type_size-s {
    width: 282px;
    height: 189px;
    padding: 25px 22px 25px;
  }
}